.banner {
    box-sizing: border-box;
    
    background-image: url(../../assets/bannerHome.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 290px;
    padding-right: 200px;
    
    width: 1950px;
    height: 1100px;
    
    
    display: flex;
    justify-content: flex-end;
    
    
}






