.button-download{
    font-size: 25px;
    font-family: "fira code", Verdana, Geneva, Tahoma, sans-serif;
    
    background-color: rgb(21, 255, 0);
    
    padding: 8px;
    margin-left: 100px;
    
}

.button-download:hover{
    transform: scale(1.08);
}