.title-language {
    font-family: "Fira Code", Verdana, Geneva, Tahoma, sans-serif;

    color: #fff;
    font-size: 40px;
}

.title-progress {
    
    padding-bottom: 5px ;
    padding-left: 20px;

}