.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
    font-size: 40px;
    padding-top: 35px;
}


.title.-subtitle{
    
    
    
    font-size: 40px;
    padding-top: 15px;

}