.section-skill{
    background-color: blueviolet;
    height: 650px;
    border-top: solid 5px red;
    

}


.my-skill{
    display: flex;
    
    margin-top: 25px;
    margin-right: 30vh;
}

.componets-left{
    margin-top: 15vh;
    margin-left: 10vh;

    display: flex;
} 





