.title-skill{
    font-family: "Fira Code", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    color: #fff;
    

    margin-top: 40px;
    text-align: center;
    
}

.title-sobre {
    font-family: "Fira Code", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    color: #fff;
    

    margin-top: 40px;
    text-align: center;
}

